<section class="section hero is-info is-bold">
  <div class="hero-body">

    <div class="container">
      <div class="has-text-centered columns">
        <div class="column">
          <div class="title is-1">
            2020-03-26 ~ 2020-04-23
          </div>
          <div class="sub-title ">
            동안 다녀올게요..
          </div>
        </div>
        <div class="column">
          <div class="sub-title" *ngIf="!isDone">
            김영서 훈련소 입영까지
          </div>
          <div class="sub-title" *ngIf="isDone">
            지금은
          </div>
          <div class="title is-1">
            <!-- {{timerSet | timerFormat}} -->
            {{this.currentValue}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="has-text-centered is-8 is-offset-2" style="padding: 5rem 0;">

  <p class="subtitle">군대갑니당 ㅠ</p>
  <p class="subtitle">수료 다음날 출근합니당 ㅠ</p>
  <p class="subtitle">그냥 이런거 만들어 봤습니당 ㅠ </p>
</div>
